<div class="container">
	<div class="row text-center">
		<h1>Completa los datos para registrarte</h1>
		<form class="form" name="registro">
			<h3 class="text-left">Nombre</h3>
			<input class="form-control input-lg" type="text" name="name" required>
			<br>
			<h3 class="text-left">Apellido</h3>
			<input class="form-control input-lg" type="text" name="apell" required>
			<br>
			<h3 class="text-left">Usuario</h3>
			<input class="form-control input-lg" type="text" name="user" required>
			<br>
			<h3 class="text-left">Email</h3>
			<input class="form-control input-lg" type="email" name="email" required>
			<br>
			<h3 class="text-left">Password</h3>
			<input class="form-control" type="password" name="codigo" required>
			<br>
			<button type="submit" class="btn btn-success">Registrar</button>
		</form>
		
	</div>
</div>